.Flaura {
    display: flex;
    justify-content: center;
}

.Flaura img{
    outline: 5px double white;
    outline-offset: -20px;
    border: 2px solid #8f8762;
}
.Flaura img:hover{
    outline-offset: -80px;
    transition: 0.5s ease;
}

h2 {
    text-align: center;
    font-size: large;
    color: #8f8762;
    margin-top: 10px;
}

.footer {
    border-top: 3px solid #8f8762;
    margin-top: 900px;
    height: 500px;
    background-color: #ddd4cf;
}

.reseau {
    display: flex;
    margin-top: 15px;
    text-decoration: none;
    justify-content: center;
    padding-block: 10px;
}

.img-reseau:hover {
    border: 2px solid #ddd4cf;
}

.img-reseau::selection {
    background: none;
}

.padding {
    padding-left: 40px;
    padding-right: 40px;
}

.divider {
    display: flex;
    align-items: center;
}

.divider::before,
.divider::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #8f8762;
    margin-top: 20px;
}

.divider::before {
    margin-left: 50px;
}

.divider::after {
    margin-right: 50px;
}

.divider2 {
    display: flex;
    align-items: center;
    margin-top: -49px;
}

.divider2::before,
.divider2::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #8f8762;
    margin-top: 20px;
}

.divider2::before {
    margin-left: 50px;
}

.divider2::after {
    margin-right: 50px;
}

.copyright {
    text-align: center;
    color: #8f8762;
    margin-top: 0px;
}

.copyright::selection {
    background: none;
}

.vertical-line {
    border-right: 1px solid #8f8762;
    padding-right: 150px;
    padding-bottom: 100px;
    margin-left: 150px;
    padding-top: 0px;
}

.text-title::selection {
    background: none;
}

.vertical-line::selection {
    border-right: 1px solid #8f8762;
    padding-right: 150px;
    padding-bottom: 100px;
    margin-left: 150px;
    padding-top: 0px;
}

.vertical-line2 {
    border-right: 1px solid #8f8762;
    padding-bottom: 100px;
    padding-top: 0px;
    padding-right: 80px;
    margin-left: 80px;
}

.vertical-line3 {
    padding-right: 150px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 100px;
}

.footer_down {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #8f8762;
}

.centre {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.condition_generale {
    background-color: white;
    text-align: center;
    margin-bottom: -900px;
    margin-top: 900px;
    font-weight: bold;
    color: #8f8762;
    font-size:x-small;
}

.aa:hover {
    color: red;
}

.aa {
    color: blue;
}

.aa::selection {
    background: none;
}

.slider {
    border-radius: 30px;
    border: 1rem solid;
    border-color: #ddd4cf;
}

.carousel {
    margin-bottom: -750px;
    margin-top: 50px;
}

@media screen and (max-width:680px) {
    .Flaura img{
        display: flex;
        justify-content: center;
        width: 400px;
        height: 400px;
        margin-top: 100px;
    }

    .carousel img{
        width: 250px;
        height: 300px;
    }

    .footer {
        border-top: 3px solid #8f8762;
        margin-top: 900px;
        height: 1000px;
        background-color: #ddd4cf;
    }

    .vertical-line {
        border-right: 1px solid #ddd4cf;
        padding-right: 150px;
        padding-bottom: 100px;
        margin-left: 150px;
        padding-top: 0px;
    }
    
    .vertical-line2 {
        border-right: 1px solid #ddd4cf;
        padding-bottom: 100px;
        padding-top: 0px;
        padding-right: 80px;
        margin-left: 80px;
    }
    
    .vertical-line3 {
        padding-right: 0;
        margin-left: 0;
        padding-top: 0px;
        padding-bottom: 200px;
    }

    .divider2 {
        display: flex;
        align-items: center;
        margin-top: -90px;
    }
}