.ancre_personnalise {
    margin-left: 50px;
    margin-right: 50px;
    color: #646C4C;
    font-family: cursive;
    text-shadow: 2px 4px 3px #c2d095;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
}
.ancre_personnalise:hover {
    color: #646C4C;
    font-family: cursive;
    text-shadow: 2px 4px 3px #c2d095;
    font-weight: bold;
    text-underline-offset: 2px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.ancre_personnalise_centre {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 5px;
    padding-bottom: 15px;
}
.ancre_personnalise2 {
    margin-left: 50px;
    margin-right: 50px;
    color: #646C4C;
    font-family: cursive;
    text-shadow: 2px 4px 3px #c2d095;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
}
.ancre_personnalise2:hover{
    color: #646C4C;
    font-family: cursive;
    text-shadow: 2px 4px 3px #c2d095;
    font-weight: bold;
    text-underline-offset: 2px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.ancre_personnalise_centre2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 5px;
    padding-bottom: 15px;
}
.sep::before {
    content: "|";
    color: lightgray;
    padding-left: 10px;
}
.sep::selection {
    background: none;
}
.sep:hover {
    cursor: default;
}
.sep{
    display: inline;
    padding-right: 20px; 
}