h1{
    text-align: center;
    font-size: xx-large;
    color: #646C4C;
    margin-top: 50px;
    text-shadow: 2px 4px 3px #c2d095;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c2d095;
    border-radius: 10px;
    border: 3px solid #646C4C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c2d095;
}

.text-title::selection{
    background: none;
    cursor: default;
}

.text-title{
    font-size: small;
}

.text-title2::selection {
    background: none;
    cursor: default;
}

.text-title2{
    font-size: medium;
}

.text-title3::selection {
    background: none;
    cursor: default;
}

.text-title3 {
    font-size:xx-large;
}

p,a,h1,h2,h3,h4,h5,h6,title::selection{
    background: none;
    cursor: default;
}

a,title::selection{
    cursor: pointer;
}
